header{
    width: 100vw;
    height: 65px;
    border: 1px solid rgba(54, 65, 50, 0.6);
    display: flex;
    .container{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 35px;
        .gear{
            font-size: 2em;
            cursor: pointer;
            color: #364132;
        }
        .exit{
            position: absolute;
            top: 55px;
            background: #FFFFFF;
            border: 1px solid #364132;
            border-radius: 5px;
            padding: 5px 0;
            span{
                font-size: 20px;
                cursor: pointer;
                padding: 0 15px;
                padding: 5px auto;
            }
        }
    }
}